<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">offers</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="goToOfferDetails(1)">Offer 1</ion-button>
  <ion-button expand="full" (click)="goToOfferDetails(2)">Offer 2</ion-button>
  <ion-button expand="full" (click)="goToOfferDetails(3)">Offer 3</ion-button>
  <ion-button expand="full" (click)="goToOfferDetails(4)">Offer 4</ion-button>
</ion-content>
